.bandstand-venue-frame {
	// Spinners next to buttons in the primary toolbar
	.media-toolbar-primary .spinner {
		float: left;
		margin-top: 20px;
	}
}

.bandstand-venue-frame-content {
	&,
	& *,
	.media-modal & * {
		box-sizing: border-box;
	}

	th {
		padding-right: 20px;
		text-align: left;
		vertical-align: top;
	}
}

.bandstand-venue-frame-content--add {
	padding: 16px;
}

.bandstand-venues-search {
	border-color: #dfdfdf;
	border-style: solid;
	border-width: 0 1px 1px 0;
	height: 60px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
}

.bandstand-venues-search input[type="search"] {
	height: 38px;
	font-size: 16px;
	font-style: italic;
	width: 278px;
}

.bandstand-venues {
	border-right: 1px solid #dfdfdf;
	overflow: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	width: 300px;
}

.bandstand-venues ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.bandstand-venues-list-item {
	border-bottom: 1px solid #dfdfdf;
	cursor: pointer;
	margin: 0;
	padding: 10px 20px;
}

.bandstand-venues-list-item:hover {
	background: #f5f5f5;
}

.bandstand-venues-list-item.is-selected,
.bandstand-venues-list-item.is-selected:hover {
	background: #f3f3f3;
	font-weight: 600;
}

.bandstand-venue-panel {
	overflow: auto;
	padding: 76px 16px 16px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 300px;

	.bandstand-venue-edit-form {
		position: absolute;
	}
}

.bandstand-venue-panel-title {
	border-bottom: 1px solid #dfdfdf;
	height: 60px;
	overflow: hidden;
	padding: 16px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.bandstand-venue-panel-title button {
	float: right;
}

.bandstand-venue-panel-title h2 {
	float: left;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	margin: 0;
}

.bandstand-venue-edit-form {
	textarea {
		margin: 1px;
		width: 25em;
	}

	td {
		.spinner {
			margin: 6px 0 0 0;
			position: relative;
			left: -26px;
		}
	}
}
