.bandstand-gig-date-picker {
	background: #fff;
	border: 1px solid #dedede;
	padding: 0 14px;
}

.bandstand-gig-date-picker-footer {
	background: #f5f5f5;
	border-top: 1px solid #dedede;
	margin: 0 -14px;
	position: relative;

	input[type="text"] {
		background: #f5f5f5;
		border-width: 0;
		box-shadow: none;
		display: block;
		font-style: italic;
		margin: 0;
		outline: none;
		padding: 10px 14px;
		width: 100%;
	}

	input:focus {
		border-width: 0;
		box-shadow: none;
		font-style: normal;
	}
}

.bandstand-pikaday {
	&.pika-single {
		background: transparent;
		border-width: 0;
		color: inherit;
		display: block;
		font-family: inherit;
		position: relative;
		z-index: 999;

		&.is-hidden {
			display: none;
		}

		&.is-bound {
			box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
			position: absolute;
		}
	}

	.pika-lendar {
		float: none;
		margin: 0;
		width: auto;
	}

	.pika-title {
		border-bottom: 1px solid #dedede;
		margin: 0 -14px;
		padding: 5px 10px;
		position: relative;
		text-align: center;

		select {
			cursor: pointer;
			margin: 0;
			opacity: 0;
			position: absolute;
			top: 5px;
			left: 0;
			z-index: 9998;
		}
	}

	.pika-label {
		display: inline-block;
		*display: inline;
		position: relative;
		z-index: 9999;
		overflow: hidden;
		margin: 0;
		padding: 5px 3px;
		font-size: 14px;
		line-height: 20px;
		font-weight: bold;
		background-color: #fff;
	}

	.pika-prev,
	.pika-next {
		display: block;
		cursor: pointer;
		position: relative;
		outline: none;
		border: 0;
		padding: 0;
		width: 20px;
		height: 30px;
		text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
		white-space: nowrap;
		overflow: hidden;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 75% 75%;
		opacity: .5;
		*position: absolute;
		*top: 0;

		&:hover {
			opacity: 1;
		}

		&.is-disabled {
			cursor: default;
			opacity: .2;
		}
	}

	.pika-prev,
	.is-rtl .pika-next {
		float: left;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
		*left: 0;
	}

	.pika-next,
	.is-rtl .pika-prev {
		float: right;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
		*right: 0;
	}

	.pika-select {
		display: inline-block;
		*display: inline;
	}

	.pika-table {
		border-collapse: collapse;
		border-spacing: 0;
		border: 0;
		margin-bottom: 10px;
		width: 100%;

		abbr {
			border-bottom: none;
			cursor: help;
		}

		th,
		td {
			padding: 0;
			text-align: center;
			width: 14.285714285714286%;
		}

		td {
			border: 1px solid #dedede;

			&.is-empty {
				border-width: 0;
			}
		}

		th {
			color: #787878;
			font-size: 14px;
			font-weight: bold;
			line-height: (18 / 14);
			padding: 11px 0;
		}
	}

	.pika-button {
		background: transparent;
		border: 0;
		border-radius: 0;
		color: #222;
		cursor: pointer;
		display: block;
		font-size: 14px;
		line-height: (18/ 14 );
		margin: 0;
		outline: none;
		padding: 11px 0;
		text-align: center;
		width: 100%;

		// !important is needed to override default styles.
		&:hover {
			background: #f5f5f5 !important;
			border-radius: 0 !important;
			box-shadow: none !important;
			color: #222 !important;
		}
	}

	.is-today .pika-button {
		color: #222;
		font-weight: bold;
	}

	.is-selected .pika-button,
	.is-selected .pika-button:hover {
		background: #0073aa !important;
		border-radius: 0;
		box-shadow: none;
		color: #fff !important;
		font-weight: normal;
	}

	.is-disabled .pika-button {
		color: #999;
		cursor: default;
		opacity: .3;
		pointer-events: none;
	}
}
