.bandstand-repeater {
	input:-moz-placeholder {
		color: #a9a9a9;
	}

	tbody {
		tr {
			cursor: move;
			width: 100%;

			&:last-child td {
				border-bottom: none;
			}
		}

		td {
			padding: 7px;

			&.track-number {
				text-align: right;
				vertical-align: middle;
				width: 2em;
			}
		}
	}

	.column-action {
		cursor: auto;
		text-align: right;
		vertical-align: middle;
		width: 16px;

		a {
			cursor: pointer;
			font-family: sans-serif;
		}

		.bandstand-repeater-remove-item {
			color: #808080;
			opacity: 0.2;

			&:hover {
				opacity: 1;
			}
		}
	}

	.bandstand-show-on-add {
		display: none;
	}

	.bandstand-repeater-sort-warning {
		color: #ee0000;
	}
}
