.bandstand-dashboard-wrap {
	font-size: 15px;
	margin: 25px 40px 0 20px;
	max-width: 1050px;
	position: relative;

	@media only screen and ( max-width: 500px ) {
		margin-left: 10px;
		margin-right: 20px;
	}
}


/* Header Section
-------------------------------------------------------------- */

.bandstand-dashboard-header {
	border-bottom: 1px solid #dedede;
	margin-bottom: 40px;
	min-height: 175px;
	padding-right: 200px;
	position: relative;

	h1 {
		color: #32373c;
		font-size: 2.8em;
		line-height: 1.2em;
		margin: 0.2em 0 0 0;
		padding: 0;
	}

	p {
		color: #555d66;
		font-size: 19px;
		font-weight: 400;
		line-height: 1.6em;
		margin: 1em 0;
	}

	.nav-tab {
		font-size: 18px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.bandstand-badge {
	align-items: center;
	background: #e5002b;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.2 );
	display: flex;
	color: #fff;
	height: 140px;
	justify-content: center;
	margin-top: 5px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 140px;

	svg {
		fill: currentColor;
		height: 64px;
		width: 64px;

		path {
			fill: currentColor;
		}
	}
}

@media only screen and ( max-width: 500px ) {
	.bandstand-dashboard-header {
		border-bottom-width: 0;
		padding-right: 0;
	}

	.bandstand-badge {
		height: auto;
		padding: 20px 0;
		position: relative;
		width: 100%;
	}
}


/* Lead
-------------------------------------------------------------- */

.bandstand-dashboard-lead {
	color: #545454;
	font-weight: 300;
	margin: 0 0 40px 0;

	p {
		font-size: 24px;
		line-height: 1.5;
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
