/* Hero Section
-------------------------------------------------------------- */

.bandstand-dashboard-hero {
	background-image: url(../images/dashboard-hero.jpg);
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: -10px -20px 50px -22px;
	padding: 50px 20px 94px 22px;
	position: relative;
	text-align: center;
}

.bandstand-dashboard-hero-branding {
	color: #fff;
	margin: 0 auto;
	max-width: 800px;

	p {
		font-size: 30px;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 0;
	}
}

.bandstand-dashboard-hero-logo {
	margin: 0 auto;
	width: 191px;

	.wrap & {
		margin: 0 auto;
		padding: 0;
	}
}

@media (min-height: 700px) {
	.bandstand-dashboard-hero {
		padding-top: 100px;
		padding-bottom: 144px;
	}
}


/* Hero Tabs
-------------------------------------------------------------- */

.bandstand-hero-tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.bandstand-hero-tab {
	display: inline-block;
	font-size: 16px;
	margin: 0 3px;

	a {
		background: #f1f1f1;
		background: rgba(241, 241, 241, 0.6);
		color: #000;
		display: block;
		line-height: 44px;
		padding: 0 16px;
		text-decoration: none;
	}

	a:focus,
	a:hover,
	&.is-active a {
		background: #f1f1f1;
	}
}


/* Lead
-------------------------------------------------------------- */

.bandstand-dashboard-lead {
	color: #545454;
	font-weight: 300;
	margin: 0 auto 40px auto;
	max-width: 900px;
	text-align: center;

	p {
		font-size: 24px;
		line-height: 1.5;
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
