/* Module Cards
-------------------------------------------------------------- */

.bandstand-module-cards {
	margin-bottom: 30px;
}

.bandstand-module-card,
.bandstand-module-card * {
	box-sizing: border-box;
}

.bandstand-module-card {
	background-color: #fff;
	border: 1px solid #dedede;
	margin: 0 0 18px 0;

	&.is-inactive .button,
	&.is-active button.button-activate {
		display: none;
	}

	&.is-active .button,
	&.is-inactive .button-activate {
		display: inline-block;
	}
}

.bandstand-module-card-body {
	color: #737780;
	padding: 24px;
	position: relative;

	p {
		font-size: 14px;
		margin-top: 0;
	}
}

.bandstand-module-card-header {
	border-bottom: 1px solid #dedede;
	line-height: 60px;
	padding: 0 24px;
	position: relative;

	.bandstand-toggle-switch {
		position: absolute;
		top: 50%;
		right: 24px;
		transform: translateY(-50%);
	}
}

.bandstand-module-card-name,
h2.bandstand-module-card-name {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

@media (min-width: 782px) {
	.bandstand-module-cards {
		display: flex;
		flex-flow: row wrap;
	}

	.bandstand-module-card {
		flex: 0 0 calc(33.3333% - 12px);
		max-width: calc(33.3333% - 12px);
		margin: 0 9px 18px;

		&:nth-of-type(3n+1) {
			clear: left;
			margin-left: 0;
		}

		&:nth-of-type(3n) {
			clear: right;
			margin-right: 0;
		}
	}
}
