.bandstand-block {
	background: transparent;
	border-width: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
	position: relative;

	&:hover {
		box-shadow: none;
	}

	a,
	a:hover {
		border-width: 0;
		box-shadow: none;
		text-decoration: none;
	}

	.bandstand-block-content > :last-child,
	.bandstand-block-description > :last-child {
		margin-bottom: 0;
	}

	.bandstand-block-description {
		line-height: 1.75;
	}

	.bandstand-block-media {
		margin: 0 0 15px 0;
		position: relative;
	}

	.bandstand-block-media-meta {
		font-family: sans-serif;
		font-size: 12px;
		margin: 0;
		pointer-events: none;
		position: absolute;
		right: 4px;
		bottom: 4px;

		dd {
			background: rgba(0, 0, 0, 0.65);
			border-radius: 2px;
			color: #fff;
			display: block;
			margin: 0;
			padding: 5px 8px;
		}

		dt {
			display: none;
		}
	}

	.bandstand-block-title {
		font-size: 18px;
		font-weight: normal;
		margin: 0 0 10px;
	}
}

// @todo Flesh this out.
// http://foundation.zurb.com/sites/docs/media-object.html
.bandstand-block--list-item {
	.bandstand-block-content {
		float: left;
		margin-bottom: 10px;
		padding-left: 20px;
		position: relative;
		width: calc(100% - 280px);
	}

	.bandstand-block-media {
		float: left;
		margin: 0;
		width: 280px;
	}
}
