.media-bandstand-playlist-tracks {
	overflow: auto;
	padding: 0 16px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.bandstand-playlist-record {
	clear: both;
}

.bandstand-playlist-record .bandstand-playlist-record-header {
	background: #f3f3f3;
	margin: 0 0 20px 0;
}

.bandstand-playlist-record .bandstand-playlist-record-header:before,
.bandstand-playlist-record .bandstand-playlist-record-header:after {
	content: " ";
	display: table;
}

.bandstand-playlist-record .bandstand-playlist-record-header:after {
	clear: both;
}

.bandstand-playlist-record .bandstand-playlist-record-header img {
	float: left;
	height: 80px;
	margin-right: 20px;
	max-width: 80px;
}

.bandstand-playlist-record .bandstand-playlist-record-title {
	color: #444;
	font-size: 13px;
	font-weight: 400;
	margin: 20px 0 0 0;
}

.bandstand-playlist-record .bandstand-playlist-record-title em {
	color: #222;
	display: block;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
}

.bandstand-playlist-record .bandstand-playlist-record-tracks {
	counter-reset: li;
	display: table;
	margin: 0 0 20px 0;
	width: 100%;
}

.bandstand-playlist-record .bandstand-playlist-record-track {
	cursor: pointer;
	display: table-row;
	margin: 0;
}

.bandstand-playlist-record .bandstand-playlist-record-track:before {
	content: counter(li);
	counter-increment: li;
	display: table-cell;
	text-align: center;
	width: 30px;
}

.bandstand-playlist-record .bandstand-playlist-record-track:hover {
	background: #f9f9f9;
}

.bandstand-playlist-record .bandstand-playlist-record-track.is-selected {
	background: #eee;
}

.bandstand-playlist-record .bandstand-playlist-record-track:hover:before,
.bandstand-playlist-record .bandstand-playlist-record-track.is-selected:before {
	color: #888;
	content: "\f132";
	display: table-cell;
	font-family: "dashicons";
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	padding-top: 3px;
	vertical-align: middle;
}

.bandstand-playlist-record .bandstand-playlist-record-track.is-selected:before {
	color: #1e8cbe;
	content: "\f147";
	font-size: 24px;
}

.bandstand-playlist-record .bandstand-playlist-record-track-cell {
	display: table-cell;
	font-size: 13px;
	line-height: 1;
	padding: 10px 0;
}
